body {
    display: flex;
}

#side-bar {
    height: 100%;
    width: 80%;
    background-color: rgb(238, 58, 58);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px 10px;
}

#side-bar header {
    display: flex;
    flex-direction: column;
}

#side-bar header .app-logo {
    margin: auto;
}