nav {
    background-color: #05445E;
    height: 250px;
}

#footer {
    background-color: #D4F1F4;
    height: 100px;
    border-style: solid;
}

#item {
    background-color: #75E6DA;
    height: 223px;
    border-style: solid;
}

.Mobile {
    width: 828px
}


/*Card*/

.card-custom {
    width: 100%;
    height: fit-content;
    margin: 0;
    border-radius: 40px;
    background-color: rgb(247, 218, 175);
    border: darkblue solid 5px;
    display: flex;
    gap: 10px;
    padding: 40px;
}

.card-custom .left-container {
    width: 25%;
}

.card-custom .left-container a {
    text-decoration: none;
    color: rgb(134, 46, 24);
    font-size: 50px;
}

.card-custom .left-container h1 {
    margin: 0;
}

.card-custom .left-container p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: bold;
}

.card-custom .card-description {
    display: flex;
    flex-direction: column;
    width: 30%;
    overflow: hidden;
}

.card-custom .card-description h2 {
    font-size: 30px;
    margin: 0;
}

.card-custom .card-description p {
    font-size: 16px;
    margin: 5px;
}

.card-custom .center-container {
    display: flex;
    flex-direction: column;
}

.card-custom .center-container label {
    font-size: 30px;
}

.card-custom .center-container select {
    height: 40px;
}

.card-custom .right-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-custom .right-container i {
    font-size: 35px;
    margin-left: 100px;
}

@media only screen and (min-width: 829px) {
    div.Mobile {
        display: none;
    }
}

@media only screen and (max-width: 828px) {
    div.Desktop {
        display: none;
    }
}